@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #3F414C;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #3F414C;
    --background-end-rgb: #24252e;
  }
}

html {
	background-color: #3F414C;
}

body {
	font-family: 'Lato', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Abril Fatface', serif;
	margin-bottom: 16px;
}
h1 {
	font-size: 48px;
	letter-spacing: 2px;
}
h2 {
	font-size: 36px;
	letter-spacing: 1px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 21px;
}
h6 {
	font-size: 18px;
}
p {
	margin-bottom: 32px;
	line-height: 28px;
}